<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5M15yvV_fZP0glgQKcuU7ue3vpWuKOXk</string>
	<key>GCM_SENDER_ID</key>
	<string>768118890311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zekun.APP12</string>
	<key>PROJECT_ID</key>
	<string>ios-test-25efc</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-test-25efc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768118890311:ios:7df15adc5cba5259cdf662</string>
</dict>
</plist>